<h1>An e-mail has been successfully sent</h1>

<h2>The e-mail address is:</h2>
<h4><%= @email %></h4>

<h2>The Title is:</h2>
<h4><%= @title %></h4>

<h2>The Content is:</h2>
<h4><%= @content %></h4>

<a href="/">Back to main</a>